target/
test-output/

/build.gradle
*.log
.externalToolBuilders
maven-eclipse.xml

.project
.classpath
*/.project
*/.classpath
*/eclipse-build
/.settings/
!/.settings/org.eclipse.core.resources.prefs
!/.settings/org.eclipse.jdt.core.prefs
!/.settings/org.eclipse.jdt.ui.prefs
!/.settings/org.eclipse.jdt.groovy.core.prefs
bin
tomcat.*
elasticsearch-*/
*node_key.key
securekey.key
/target/
.DS_Store
data/
*ide*
